<%= form_for([@project, @comment], :remote => true) do |f| %>
    <div id="comment-form-errors">  
      <%= render :partial => "/projects/comment_form_errors" %>
    </div>
    <div class="field">
      <%= f.label :description %><br />
      <%= f.text_area :description %>
    </div>
    <div class="actions">
      <%= f.submit %>
    </div>
  <% end %>