<h1>Welcome to Crowdfunder!</h1>

<h3>Current Projects</h3>

<% @projects.each do |project| %>
	<p>
		Title: <%= link_to project.title, project_path(project.id) %>
		<br>
		Description: <%= project.description %>
		<br>
		Funding goal: <%= project.funding_goal %>
		<br>
		Duration: <%= project.start_date %>  -  <%= project.end_date %>
		<br>
	</p>

<% end %>
  
<% if current_user %>
	<p>Currently logged in as <%= current_user.email %></p>
	<%= link_to "Logout", :logout, method: :post %>
	<%= link_to "My Profile", new_user_path  %>
	<%= link_to "Create a Project", new_project_path %>
<% else %>
	<p>Please <%= link_to "log in", new_session_path %> or <%= link_to "sign up", new_user_path %>.</p> 
<% end %> 




