<h1>Welcome to Crowdfunder!</h1>

<h3>Current Projects</h3>

<% @projects.each do |project| %>
	<p>
		Title: <%= project.title %>
		<br>
		Description: <%= project.description %>
		<br>
		Funding goal: <%= project.funding_goal %>
		<br>
		Duration: <%= project.start_date %>  -  <%= project.end_date %>
		<br>
	</p>

<% end %>
 
<%= # link_to "Login", new_session_path %>
 
<% if current_user %>
	<%= link_to "My Profile",  %>
	<%= link_to "Create a Project", new_project_path %>
<% else %>
<p>Please <%= link_to "log in", new_session_path %>.</p> 
<% end %> 




