<h1><%= @project.title %>'s Page</h1>
<br>
<%= @project.description %>
<br>
<%= @project.funding_goal%>
<br><%= @project.start_date %>, <%= @project.end_date %>

<div class="rewards">
  <h3> Rewards </h3>
  <%= render partial: 'reward', collection: @project.rewards %>
</div>

<% if current_user %>
  <h3> Add a Comment </h3>

  <%= render 'comment_form' %>
<% end %>

<h3> Comments <h3>
<div id="comment-list">
  <%= render :partial => 'comments' %>
</div>

<%= link_to 'Back to Projects', projects_path %>
<% if current_user %>
  <% if current_user.id == @project.owner_id %>
    <%= link_to 'Edit this Project', edit_project_path %>
  <% end %>
<% end %>

<script type="text/javascript">
  $(function() {
    $("#new_comment")
      .on('ajax:beforeSend', function() { // set this code to happen just before the ajax request is made
        $("input[type='submit']") // make changes to the submit button
          .val('Saving...') // change the text on the button
          .attr('disabled', 'disabled'); // disable the button
      })
      .on('ajax:complete', function() {
        $("input[type='submit']")
          .val("Add Comment")
          .removeAttr('disabled');
      });
  });
</script>
