<h1><%= @project.title %>'s Page</h1>
<br>
<%= @project.description %>
<br>
<%= @project.funding_goal%>
<br><%= @project.start_date %>, <%= @project.end_date %>

<div class="rewards">
  <h3> Rewards </h3>
  <%= render partial: 'reward', collection: @project.rewards %>
</div>

<h3> Add a Comment </h3>

<%= render 'comment_form' %>

<h3> Comments <h3>
<div id="show-comments">
<%= render partial: 'comment', collection: @project.comments %>
</div>

<%= link_to 'Back to Projects', projects_path %>

<% if current_user.id == @project.owner_id %>
	<%= link_to 'Edit this Project', edit_project_path %>

<% end %>

