<!DOCTYPE html>
<html>
<head>
  <title>Crowdfunder</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <h1>Crowdfunder</h1>
  
  <nav class="nav">
    <% if current_user %>
      <p>Currently logged in as <%= current_user.email %></p>
      <%= link_to "Logout", :logout, method: :post %>
      <%= link_to "My Profile", new_user_path  %>
      <%= link_to "Create a Project", new_project_path %>
    <% else %>
      <p>Please <%= link_to "log in", new_session_path %> or <%= link_to "sign up", new_user_path %>.</p> 
    <% end %>
  </nav>

  <% if flash[:notice] %>
    <p id="notice"><%= flash[:notice] %></p>
  <% end %>
  <% if flash[:alert] %>
    <p id="alert"><%= flash[:alert] %></p>
  <% end %>

<%= yield %>

</body>
</html>
